/* Note styles */
.Note {
    width:250px;
    min-height:40px;
    background-color: #FFF;
    margin: 10px 0 10px 10px;
    padding-left: 5px;
    padding-top: 8px;
    border-radius: 4px;
    user-select: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.notes {
    list-style-type: none;
    margin: 0;
    padding: 0;
}